{{!-- <div class="row">
    <div class="col-md-6">
        <h2>Ready to eat</h2>
    </div>

    <div class="col-md-6">
        <h2>Devoured</h2>
    </div>
</div> --}}


<div class="row">
    <div class="col-md-6">
        <h2>Ready to eat</h2>
        <div class="row">
            {{#each burgers}}
            {{#unless devoured}}
 
            <div class="card col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{id}}. {{burger_name}}</h5>
                    <button id="burger-{{id}}" burger="{{id}}" class="btn btn-light burger-button">Devour</button>
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
    </div>

    <div class="col-md-6">
        <h2>Devoured</h2>
        <div class="row">
        {{#each burgers}}
        {{#if devoured}}
        <div class="card col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{id}}. {{burger_name}}</h5>
                </div>
            </div>
        {{/if}}
        {{/each}}
        </div>
    </div>
</div>