<div id="all-burgers" class="row">
    <div id="ready-to-eat" class="col-md-6">
        <h2>Ready to eat</h2>
        <div class="row">
            {{#each burgers}}
            {{#unless devoured}}
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <h5 class="card-title">{{id}}. {{burger_name}}</h5>
                        <button id="burger-{{id}}" burger="{{id}}" class="btn btn-warning burger-button">Devour</button>
                    </div>
                </div>
            </div>
            {{/unless}}
            {{/each}}
        </div>
    </div>

    <div id="devoured" class="col-md-6">
        <h2>Devoured</h2>
        <div class="row">
            {{#each burgers}}
            {{#if devoured}}
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="card shadow rounded">
                    <div class="card-body">
                        <h5 class="card-title">{{id}}. {{burger_name}}</h5>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>